/* Carousel */

.carousel {
}

/* button prev and next */
.carousel-control:hover {
  background-color: #fff1;
  transition: .25s;
}

/* height of the carousel */
.carousel-item, .carousel-item > img {
  height: 35rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

/* titles of the carousel */
.title1, .title2, .title3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px #333;
  background-color: rgba(255, 255, 255, .9);
  max-width: 30vw;
  border: solid 1px #fff;
  border-radius: 50px;
  color: black  !important;

}

.title1 > h1, .title2 > h1, .title3 > h1 {
  font-size: 3rem;
}