:root {
  --blue: #1e90ff;
  --yellow: #cada2a;
  --gray: #3f3f3f;
  --white: #fff;
  --red: #dc3545;
  --success: #28a745;
  --warning: #ffc107;



  --Nav:#3a3f51;
  --linkActiveNav:#343848;
  --letterNav:#eee;
  /* --letterNav:#aaadb7; */
  --letterContent:#666;
  --buttonBlueContent:#389af0;
  --buttonOrangeContent:#e67d21;
  --buttonPurpleContent:#8e44ad;
  --buttonGreenContent:#5fc29d;
  --backgroundContent:#eaeef3;
  --cancel: #E63B2E;





















  /* * colors dont*/
  /* --carmesie: #9B1D20;
  --sand: #F9AB55;
  --warning: #ffc107;
  --wordpressYellow: #F7EC59;
  --electricYellow: #ECC30B;
  --whiteAesth1: #F7F5FB;
  --whiteAesth2: #c4bece;
  --whiteAesth3: #aa9ac4;
  --success: #28a745;
  --jade: #26A96C;
  --greenBlue: #64B6AC;
  --powderBlue: #94B0DA;
  --cornFlowerBLue: #7189FF;
  --polyBlue: #084887;
  --darkBlue: #2B2D42;
  --darkBlue2: #3f436e;
  --blackJet: #39393A; */
}

