main {
  grid-column: 2/3;
  grid-row: 2/3;
}

#url {
  display: none;
}

header {
  /* grid */
  grid-column: 2/3;
  grid-row: 1/2;

  /* styles */
  height: 10vh;
  width: 84.093745vw;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  /* colors */ 
  color: var(--letterNav);

  background-color: var(--Nav);
}

/* USER */
.nav-user {
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* colors */ 
  color: var(--letterNav);
  border-bottom: solid 2px var(--linkActiveNav);
}

.nav-iconUser {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-iconUser > img {
  margin-bottom: 1vh;
  margin-left: 1vw;
  height: 5vh;
  width: 5vh;
  border-radius: 100%;

  /* colors */ 
  color: var(--letterNav);
  background-color: #ccc;
  border: solid 1px var(--linkActiveNav);
}

.nav-nameUser {
  margin-left: 1vw;
}

.header-title-page {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0px;
  font-size: 2em;
  font-weight: 940;
}


.settings {
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
  /* border: solid 0px #2220; */
}

.settings > img {
  height: 4vh;
  width: 4vh;
  transition: 1s;
}

.settings-list {
  padding: 0px;
  max-width: 0vw;
  max-height: 0vh;
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .3s;
  translate: -100px 4vh;
  border-radius: 5px;
  
  /* colors */ 
  /* border: solid 0px #2220; */
  box-shadow: -2px 2px 10px #0005;
  color: var(--letterNav);
  background-color: var(--Nav);
}


.settings-list > .itemOne {
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 1vh;
  width: 100%;
  /* border-radius: 20px; */

  /* colors */ 
  background-color: var(--linkActiveNav);
  border: solid 1px var(--linkActiveNav);
}

.settings-list > .itemOne:hover {
  background-color: #282b39;  
}

.settings-list > .itemOne > a {
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* colors */ 
  color: var(--letterNav);
}

.settings-list > .itemTwo {
  width: 100%;
}

.settings-list > .itemTwo > .form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.settings-list > .itemTwo > .form > .itemTwo-input {
  height: 4vh;
  width: 100%;

  /* colors */ 
  color: #eee;
  border: solid 1px var(--cancel);
  background-color: var(--cancel);
} 

.settings-list > .itemTwo > .form > .itemTwo-input:hover, .settings-list > .itemOne:hover {
  transition: .25s;
  opacity: .785;
} 





























































a {
  width: fit-content!important;
}

header {
  background-color: #3a3f51 !important;
  margin: 0px!important;
  overflow: hidden;
}

header > div {
  padding: 0px!important;
}

header > div > .content {
  margin-left: 20px;
  display: flex;
  width: 100%;
  height: 100% !important;
  margin-left: 0px!important;
  padding: 0px!important;
  background-color: #ffffff00 !important;
}

header > div > .content > form {
  margin-top: 1vh;
  height: 6vh;
}

#header-search-input1 {
  color: white; 
  border-radius: 10px 0px 0px 10px!important; 
  padding: 1vh; border: solid 1px #fff0; 
  box-shadow: inset 1px 1px 2px #0005;
}

#header-search-input2 {
border-radius: 0px 10px 10px 0px; 
padding: 1vh; 
border: solid 1px #fff0; 
color: white; 
background-color: #1e90ff5c!important;
}

header > div > .content > .buttons > .ring {
  margin-right: 7.5vw;
}

header > div > .content > .buttons > .ring > a > img {
width: 30px; height: 30px;
}

header > div > .content  > .buttons > .ring > a > span {
width: 30px; height: 30px;
}

header > div > .content  > .buttons > .userIcon {
color: white;
}

header > div > .content  > .buttons > .userIcon > .link > img {
width: 40px; height: 40px;
}

header > div > .content  > .buttons > .userIcon > .link > span {
color: white;
}


/* header > div > .content > .buttons > .userIcon > .list {} */


