body {
  margin: 0px;
  padding: 0px;
  display: grid;
  grid-template-columns: 15vw 1fr;
  grid-template-rows: 10vh 1fr 20vh;
}

a {
  color: #0000;
  text-decoration: none!important;
}

* {
  text-decoration: none;
  list-style: none;
}

/* .remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply;
} */



nav { 
  /* grid */
  grid-column: 1/2;
  grid-row: 1/3;

  /* structure */
  padding: 0px!important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  width: 15vw;
  height: 100vh;
  
  /* colors */ 
  z-index: 10;
  color: var(--white);
  background-color: var(--Nav);
}

/* TOP */
.nav-top {
  background-image: url("../img/foto1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
  
  /* colors */ 
  color: var(--letterNav);
  border-bottom: solid 2px var(--linkActiveNav);
}

.nav-icon > img {
  border-radius: 100%;
  height: 6.5vh;
  width: 6.5vh;
  
  /* colors*/ 
  border: solid 1px var(--white);
}

/* LINKS */

.nav-links {
  width: 100%;
  display: flex;
  align-self: flex-start;
}

.nav-links > ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.nav-links > ul > li {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
  
  /* colors */ 
  color: var(--letterNav);
  border-bottom: solid 2px var(--linkActiveNav);
}

.links-title:hover, .links-list > a:hover {
  transition: .5s;
  
  /* colors */ 
  background-color: var(--linkActiveNav);
  color: var(--letterNav);
}

.links-title {
  font-size: 1.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.links-title > img {
  margin-left: .8vw;
  margin-right: .5vw;
  height: 5vh;
}

.links-list > a > img {
  margin-left: 2vw;
  margin-right: .4vw;
  height: 4vh;
}

.links-list {
  max-height: 0vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: .5s;
  background-color: var(--linkActiveNav);
}

.links-list > a {
  color: var(--letterNav);
  width: 100%!important;
}

.links-list > a:hover {
  background-color: #1e90ff5c;
}

