form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 75vh;
  border: solid 1px #0003;
  border-radius: 20px;
  box-shadow: 2px 2px #0003;
}

.logo {
  width: 10vw; 
  height: 10vw; 
  margin-top: 1vh;
  margin-bottom: 3;
}

.title {
  margin-bottom: 3vh;
}

.inputSign {
  color: #fff;
  border: solid 1px #48f;
  border-radius: 20px;
  width: 20vw;
  height: 6vh;
  background-color: #48f;
  transition: 1s;
}

.inputSign:hover {
  border: solid 1px #59f;
  background-color: #59f;
  transition: 1s;
  border-radius: 10px;
}

.inputSign:active {
  border: solid 1px #37f;
  background-color: #37f;
  transition: .3s;
}

