.result {
display: flex;
justify-content: center;
}

.contentPage {
display: flex;
justify-content: center;
margin-top: 50px;
}

.newSection {
display: flex;
flex-direction: column;
margin-top: 5px;
justify-content: center;
align-items: center;
}

.contentLine {
display: flex;
justify-content: center;
}

.line {
background-color: black;
width: 80%;
height: 2px;
margin-bottom: 10px;
}

form {
display: flex;
flex-direction: column;
}

form > input {
margin: 10px;
} 