.modal-seeMore {
  opacity: 0;
  margin: auto;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  border-radius: 10px;
  padding: .5em .5em;
  transition: 1s;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  /* padding-left: 10vw;
  padding-right: 10vw; */
  
  /* colors */
  background-color: #fff;
}

.modal-seeMore-close {
  align-self: flex-end;
  border: 0px;
  border-radius: 10px;
  
  /* colors */
  background-color: #d43636d1;
}

.modal-seeMore-close:active {
  background-color: #c42424e4;
}

.modal-seeMore > .information {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  height: 20vh;
}

.modal-seeMore > .information > div {
  font-size: 20px;
  width: 50%;
}

.modal-seeMore > .information > div > span {
  font-weight: 945;
}

/* .modal-add-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2vw;
  margin-bottom: 3vh;
}

#modal-add-cedula {
  grid-column: 1/3;
}

#modal-add-submit {
  align-self: end;
  grid-column: 1/3;
  justify-self: center;
  border-radius: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  colors 
  background-color: var(--blue);
  box-shadow: 2px 5px 20px #0005;
  border: solid 0px white;
  color: #fff;
}

#modal-add-submit:hover {
  transition: .6s;
  
   colors 
  background-color: #ffc107;
}

#modal-add-submit:active {
  transition: .2s;
  
   colors 
  background-color: #dba70b;
}

.modal-add-form > input, #modal-add-cedula, .modal-add-form > button {
  font-size: 1.05rem;
  width: 15vw;
  height: 5vh;
  margin-bottom: 2vh;
  border-bottom: solid 2px var(--blue);
  padding-left: .5vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  
   colors 
  outline-color: #5550;
  border: solid 0px #555;
}

.modal-add-form > input:hover, #modal-add-cedula:hover {
  transition: .5s;

   colors 
  background-color: #ddd8;
}

.modal-add-form > input:focus, #modal-add-cedula:focus  {
   colors 
  background-color: #ddd8;
}

.modal-add-form > input:focus-visible, #modal-add-cedula:focus-visible  {
   colors 
  border-bottom: solid 2px #ffc107;
  border: solid 0px #555;
}

.modal-add-form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  margin-bottom: 2vh;
}

.modal-add-form > div > input {
  margin-right: .2vw;
}

.modal-add-form > div > label {
  margin-right: 1vw;
} */