:root {
  --table: #9d9c9c;
}

body {
  margin: 0px;
  padding: 0px;
  /* background-color: #5d67f1; */
}

.content {
  background-color: #ccc!important;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 77.5vw;
  margin-left: 20vw;
  /* align-items: center; */
  justify-content: space-evenly;
  padding-top: 5vh;
  padding-bottom: 0px;
  border-radius: 20px;
}

.wave {
  position: relative;
  translate: 0px 1px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-image: url(../public/img/wave.png);
  background-size: 100vw 10vh;
  animation: wave 30s linear infinite;
}

@keyframes wave {
  0% {
    background-position-x: 0vw;
  }

  100% {
    background-position-x: 100vw;
  }
}


.table-student { 

  /* grid */
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  
 /* style */
  background-color: var(--table);
  border: solid 1px #555;
  border-radius: 10px;
  margin: 0px!important;
  min-width: 45vw;
  overflow: hidden;
  row-gap: 2px;
}

.table-circle {
  border: solid 1rem #555;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #555;
  width: fit-content;
  height: fit-content;
  box-shadow: 2px 5px 20px #0005;
  margin-bottom: 5vh;
}

.table-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25292d;
  width: 4vh;
  height: 4vh;
  color: white;
  border: solid 1px #25292d;
  border-radius: 100%;
  margin: 1vh;
  margin-bottom: 0px;
}

.table-title {
  grid-column-start: 1;
  grid-column-end: 11;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue);
  color: white;
}

.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #25292d;
  color: white;
}

.table-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5vw;
  padding-top: .8vh;
  padding-bottom: .8vh;
}

.light {
  background-color: white;
}

.dark {
  background-color: #ccc;
}

.control {
  grid-area: control;
  border: solid 1rem #555;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #555;
  width: fit-content;

  justify-content: space-around;
  box-shadow: 2px 5px 20px #0005;
  margin-bottom: 5vh;
  /* translate: 20vw 0vw; */
}

.control-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2vh;
}

.control-buttons > button {
  border: solid 1px #ffffff00;
  border-radius: 8px;
  color: white;
}

.control-buttons > button > img {
  width: 2.5vw;
}

.controlAdd {
  background-color: var(--bs-yellow);
}

.controlSeeMore {
  background-color: var(--blue);
}

.controlEdit {
  background-color: #46992c;
}

.controlDelete {
  background-color: #d43636;
}

.control-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.searchText {
  border: solid 1px #fff0;
  border-radius: 10px 0px 0px 10px;
  padding: 1vh;
}

.searchText:focus {
  outline-color: #ffc107;
}

.searchSubmit {
  border: solid 1px #fff0;
  border-radius: 0px 10px 10px 0px;
  color: white;
  background-color: var(--blue);
  padding: 1vh;
}

.modals {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 20;
  transition: 1s;
}

.modal-add {
  opacity: 0;
  margin: auto;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 10px;
  padding: .5em .5em;
  transition: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 1s;
  /* padding-left: 10vw;
  padding-right: 10vw; */
}

.modal-add > h2 {
  margin-bottom: 5vh;
}

.modal-close {
  align-self: flex-end;
  background-color: #d43636d1;
  border-radius: 10px;
}

.modal-add-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  column-gap: 2vw;
  margin-bottom: 3vh;
}

#modal-add-cedula {
  grid-column: 1/3;
}

#modal-add-submit {
  align-self: end;
  grid-column: 1/3;
  justify-self: center;
  background-color: var(--blue);
  border: solid 0px white;
  border-radius: 20px;
  box-shadow: 2px 5px 20px #0005;
  color: #fff;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-add-submit:hover {
  transition: .6s;
  background-color: #ffc107;
}

#modal-add-submit:active {
  transition: .2s;
  background-color: #dba70b;
}

.modal-add-form > input, #modal-add-cedula, .modal-add-form > button {
  font-size: 1.05rem;
  width: 15vw;
  height: 5vh;
  margin-bottom: 2vh;
  border: solid 0px #555;
  border-bottom: solid 2px var(--blue);
  outline-color: #5550;
  padding-left: .5vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
}

.modal-add-form > input:hover, #modal-add-cedula:hover {
  background-color: #ddd8;
  transition: .5s;
}

.modal-add-form > input:focus, #modal-add-cedula:focus  {
  background-color: #ddd8;
}

.modal-add-form > input:focus-visible, #modal-add-cedula:focus-visible  {
  border: solid 0px #555;
  border-bottom: solid 2px #ffc107;
}

.modal-add-form > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15vw;
  margin-bottom: 2vh;
}

.modal-add-form > div > input {
  margin-right: .2vw;
}

.modal-add-form > div > label {
  margin-right: 1vw;
}




